#chat-container {
  width: 100%;
  background: #fdfdfd;
  height: 100%;
  padding-left: 10px;
}

#chat-container textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
  height: 45px;
  border: none;
  border-radius: 27px;
  background: #ececec;
}

#chat-container textarea:focus {
  outline: none;
}

#messaging-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px;
}

#messaging-input {
  margin: 11px;
}

.emojiPicker {
  position: absolute; 
  bottom: 215px;
  right: 170px;
}