#chat-container {
  width: 100%;
  background: white;
}

#chat-container form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#chat-container textarea {
  width: 100%;
  resize: none;
  overflow: auto;
  border: none;
  border-radius: 10px;
  background: #f3f3f3;
}

#chat-container button {
  margin-left: -73px;
  height: 25px;
  margin-right: 36px;
}

#messaging-input {
  margin: 11px;
}