
html {
  height: 100vh;
}

body {
  background-color: rgb(255, 255, 255);
  height: calc(100% - 10px);
  /* background-image: url(./assets/Man-on-a-mountain-in-Romania.jpg); */
  /* background-size: cover; */
}

#root {
  height: 100%;
}

.appContainer {
  height: 100%;
}

.landingContainer {
  height: 80%;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  position: relative;
  top: 90px;
  height: 60%;
}

.landingPage input {
  width: 500px;
  color: black;
  background-color:rgba(255, 255, 255, 0.205)
}

.landingPage button {
  width: 500px;
  color: black;
  background-color:rgba(255,255,255,.2)
}

.normalLogin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.normalLogin form{
  /* opacity: 50%; */
}

.normalLogin button {

}

.usernameLogin {

}

.usernameLogin form {
  /* opacity: 50%; */
}


.usernameLogin button {

}

.googleLogin {
  opacity: 50%;
}

.channelItems {
  list-style: none;
}

.userHome {
  margin-top: 50px;
  display: flex;
}

.chatContainer {
  color: 'blue';
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.textContainer {
  margin: auto;
  height: 500px;
  border: 1px solid black;
  width: 80vw;
  overflow: auto;
}

.messages {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}

.chatInput {
  display: flex;
  justify-self: center;
  align-self: center;
}

#resize-box {
  left: 40%;
}

.registration {
  display: flex;
  flex-direction: row;
}

.registration form {
  display: flex;
  flex-direction: row;
}

.navLogout {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.googleLoginButton {
  position: relative;
  margin-left: 10px;
  left: 150px;
}

.logoutButton {
  position: relative;
  margin-left: 100px;
  left: 450px;
}

.leftBarUI {
  margin-top: 20px;
  width: 20%;
}


.rightBarUI {
  margin-top: 20px;
  margin-left: 10px;
  width: 250px;
}

.username {
  margin-top: 10px;
  width: 150px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.NewAccountRegistrationModalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NewAccountRegistrationModalForm p {
  text-align: center;
}

.NewAccountModal {
  top: 160px;
  height: 500px;
}

.NewAccountRegistrationModalForm div {
  margin-bottom: 10px;
}

.NewAccountRegistrationModalForm input {
  width: 300px;
  margin-left: 5px;
}


.NewAccountModal form {
  width: 100%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.channelList {
  max-height: 310px;
  max-width: 230px;
  overflow:auto;
}

.signInInput {
  width: 500px;
  height: 60px;
}
