
html {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: rgb(255, 255, 255);
  height: calc(100% - 10px);
  /* background-image: url(./assets/Man-on-a-mountain-in-Romania.jpg); */
  /* background-size: cover; */
}

#root {
  height: 100%;
}

.appContainer {
  height: 100%;
}

.landingContainer {
  height: 80%;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  position: relative;
  top: 90px;
  height: 60%;
}

.landingPage input {
  width: 500px;

  /* background-color:rgba(255, 255, 255, 0.205) */
}



.landingPage button {
  width: 500px;
  /* background-color:rgba(255,255,255,.2) */
}

.normalLogin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.normalLogin form{
  width: 500px;
}

.normalLogin button {

}

.usernameLogin {
}

.usernameLogin form {
  width: 500px;
}


.usernameLogin button {

}

.googleLogin {
  opacity: 50%;
}

.channelItems {
  list-style: none;
}

.userHome {
  display: flex;
}

.chatContainer {
  color: 'blue';
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.messages {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}

.chatInput {
  display: flex;
  justify-self: center;
  align-self: center;
}

.registration {
  display: flex;
  flex-direction: row;
}

.registration form {
  display: flex;
  flex-direction: row;
}

.navLogout {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.username {
  margin-top: 15px;
  width: 150px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.googleLoginButton {
  position: relative;
  margin-left: 10px;
  left: 150px;
}

.logoutButton {
  /* margin-right: 60px; */
  padding-right: 85px;
  margin-top: 10px;
}

.navLogout {
  display:flex;
  justify-content: space-between;
}

.leftBarUI {
  padding: 6px;
  border-right:1px solid #f3f3f3;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.NewAccountRegistrationModalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NewAccountRegistrationModalForm p {
  text-align: center;
}

.NewAccountModal {
  top: 160px;
  height: 500px;
}

.NewAccountRegistrationModalForm div {
  margin-bottom: 10px;
}

.NewAccountRegistrationModalForm input {
  width: 300px;
  margin-left: 5px;
}


.NewAccountModal form {
  width: 100%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.channelList {
  overflow:auto;
}

.signInInput {
  width: 500px;
  height: 60px;
}

.channelLink {
  text-decoration: none;
  color: black;
}

.channelLink:hover {
  color: black;
  text-decoration: none;
}

div.jumbotron {
  /* background-color: #36405D;  */
  /* /* background: linear-gradient(188deg, #36405D 10%, rgb(48, 57, 83) 100%); */
}

.modalButton {
  position: absolute;
  left: 215px;
  top: 157px;
}

.chatInputBox {
  width: 1100px;
}

.homeNav {
  display: flex;
}

.rightBarUI {
  margin-left: 0;
  width: 65px;
  display: flex;
  justify-content: center;
  background: white;
  border-left: 1px solid black;
  margin-top: -30px;
}


h3 {
  width: 200px;
}

.guestRegisterBanner {
  height: 40px;
  width: 100vw;
  text-align: center;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  padding-top:15px;
  align-items: center;
  margin-top: 15px;
  color: black;
  background-color: rgba(128, 128, 128, 0.055);
}

.guestRegisterBanner:hover {
  background-color: rgba(128, 128, 128, 0.123);
  cursor: pointer;
}

.guestModalGoogleLoginButton {
  position: absolute;
  width: 200px;
  right: 270px;
  bottom:5px;
}


.guestRegisterModalCloseButton {
  margin-left: 20px;
}

.fade.toast.show {
  position: absolute;
  top: 500px;
  left: 249px;
}

.fade.toast {
  position: absolute;
  top: 500px;
  left: 249px;
}

button#create-channel {
  background: transparent;
  border: none;
  font-size: 15px;
  width: 185px;
  margin-top: 3px;
  font-family: 'Muli';
  color: black;
}

#leftBarTitle {
  background: transparent;
  border: none;
  font-size: 2px;
  margin-top: -1px;
}