
html {
  width: 100vw;
}

body {
  background-color: rgb(255, 255, 255);
  height: calc(100% - 10px);
  /* background-image: url(./assets/Man-on-a-mountain-in-Romania.jpg); */
  /* background-size: cover; */
}

#root {
  height: 90%;
}

.appContainer {
  height: 100%;
}

.landingContainer {
  height: 80%;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  position: relative;
  top: 90px;
  height: 60%;
}

.landingPage input {
  width: 500px;

  /* background-color:rgba(255, 255, 255, 0.205) */
}



.landingPage button {
  width: 500px;
  /* background-color:rgba(255,255,255,.2) */
}

.normalLogin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.normalLogin form{
  width: 500px;
}

.normalLogin button {

}

.usernameLogin {
}

.usernameLogin form {
  width: 500px;
}


.usernameLogin button {

}

.googleLogin {
  opacity: 50%;
  height: 50px;
  width: 250px;
}

.googleLogin span {
  width: 170px;
}

.landingPage .googleLogin span {
  width: 405px;
}

.channelItems {
  list-style: none;
}

.userHome {
  display: flex;
}

.chatContainer {
  color: 'blue';
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.messages {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}

.chatInput {
  display: flex;
  justify-self: center;
  align-self: center;
}

.registration {
  display: flex;
  flex-direction: row;
}

.registration form {
  display: flex;
  flex-direction: row;
}

.navLogout {
  display: flex;
  flex-direction: row;
}

.fas {
  width: 50px;
  height: 10px;
}

.fa-user-circle {
  font-size: 30px;
  color:rgba(0, 0, 0, 0.829);
}


.username {
  margin-left:20px;
  display:flex;
  margin-top: 15px;
  width: 150px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.username p {
  position:relative;
  top: 2px;
}

.googleLoginButton {
  position: relative;
  margin-right: 10px;
  right: 110px;
}

.logoutButton {
  /* margin-right: 60px; */
  padding-right: 85px;
  margin-top: 10px;
}

.navLogout {
  display:flex;
  justify-content: space-between;
}

.leftBarUI {
  padding: 6px 0px;
  border-right:1px solid #f3f3f3;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.NewAccountRegistrationModalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NewAccountRegistrationModalForm p {
  text-align: center;
}

.NewAccountModal {
  top: 120px;
  height: 700px;
}

.NewAccountRegistrationModalForm div {
  margin-bottom: 10px;
}

.NewAccountRegistrationModalForm input {
  width: 300px;
  margin-left: 5px;
}


.NewAccountModal form {
  width: 100%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.channelList {
  max-height: 650px;
  overflow:auto;
}

.signInInput {
  width: 500px;
  height: 60px;
}

.channelLink {
  text-decoration: none;
  color: black;
}

.channelLink:hover {
  color: black;
  text-decoration: none;
}

div.jumbotron {
  /* background-color: #36405D;  */
  /* /* background: linear-gradient(188deg, #36405D 10%, rgb(48, 57, 83) 100%); */
}

.modalButton {
  position: absolute;
  left: 215px;
  top: 157px;
}

.chatInputBox {
  width: 1100px;
}

.homeNav {
  display: flex;
  justify-content: space-between;
}

.rightBarUI {
  margin-left: 0;
  width: 165px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-left: 1px solid rgba(128, 128, 128, 0.459);
  margin-top: -30px;
}

.userList {
  height: 400px;
  /* overflow: auto; */
  width: 100%;
}


h3 {
  width: 200px;
}

.guestRegisterBanner {
  height: 40px;
  width: 100vw;
  text-align: center;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  padding-top:15px;
  align-items: center;
  color: black;
  background-color: rgba(128, 128, 128, 0.055);
}

.guestRegisterBanner:hover {
  background-color: rgba(128, 128, 128, 0.123);
  cursor: pointer;
}

.guestModalGoogleLoginButton {
  position: absolute;
  width: 400px;
  left: 122px;
  bottom:5px;
}

.guestRegisterModalCloseButton {
  margin-left: 20px;
}

button#create-channel {
  background: transparent;
  border: none;
  font-size: 15px;
  width: 185px;
  margin-top: 3px;
  font-family: 'Muli';
  color: black;
}

#leftBarTitle {
  background: transparent;
  border: none;
  font-size: 2px;
  margin-top: -1px;
}

.guestRegisterModalButtons {
  margin:auto;
  text-align: center;
}

.modalFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 110px;
}

.NewAccountRegistrationModalForm .signInInput {
  width: 400px;
}


.createChannelImage {
  margin-left: 80px;
  margin-bottom: 10px;
  background-image: url(./assets/845d431ebfc24e13a0b31f7e64fc612b.png);
  width: 97px;
  height: 65px;
  background-size:contain;
  background-repeat: no-repeat;
}

.joinChannelImage {
margin-left: 52px;
margin-bottom: 10px;
background-image: url(./assets/8fb52ec5260dfe6c5b93d211d3b6ecde.png);
width: 135px;
height: 65px;
background-size:contain;
background-repeat: no-repeat;
}


.toast {
  height: 320px;
  width: 1000px;
}

.joinChannelForm {
  display: flex;
  flex-direction: column;
}

.createChannelForm {
  display: flex;
  flex-direction: column;
}

.createChannelButton {
  margin-top:10px;
  background-color:rgb(60, 163, 116);
  border-radius: 5px;
  color: white;
  /* width:220px; */
}

.joinChannelButton {
  margin-top:10px;
  background-color:rgb(114, 137, 218);
  border-radius: 5px;
  color: white;
}

.JoinCreateInput {
  margin: 5px;
  height: 50px;
}

.newChannelModal {
  top: 200px;
}

.seperate {
  display:flex;
}

.googleMapsMarkerLabel {
  background-color: white;
  border-radius: 5px;
  border: 1px black solid;
  text-align:center;
  font-size: 14px;
}


.css-y1c0xs {
  border-right: 1px solid rgba(128, 128, 128, 0.452);
}

.onlineUsers {
  text-align: center;
}