.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 24%;
  max-width: 25%;
  padding: 6px;
}

.column img {
  margin: 6px;
  vertical-align: middle;
  width: 100%;
}


