#imageBox {
  overflow-x: hidden;
  padding: 30px;
  color: white;
  width: 100%;
}

.switch-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -40px;
}

.popup-title {
  color: white;
  font-size: 30px;
  font-family: 'Raleway';
  font-weight: 700;
}

button.image-buttons {
  background: transparent;
  border: none;
  color: rgb(91, 224, 248);
  font-family: 'Raleway';
  font-size: 20px;
}

button.image-buttons:focus {
  outline: none;
}

.adding-button {
  background-color: transparent;
  border: none;
  color: rgb(91, 224, 248);
  text-align: left;
  padding: 1px;
  font-size: 40px;
  width: 140px;
  margin-top: -14px;
  transition: all 0.6s;
}

.adding-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.6s;
}

.adding-button span:after {
  content: 'New album';
  position: absolute;
  font-family: 'Raleway';
  font-size: 16px;
  bottom: 0;
  opacity: 0;
  right: -100px;
  transition: 0.6s;
}

.adding-button:hover span {
  padding-right: 91px;
}

.adding-button:hover span:after {
  opacity: 1;
  right: 0;
}

#input-album {
  background: transparent;
  z-index: 1;
  border: none;
  border-bottom: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 46px;
  width: 70%;
  color: whitesmoke;
  font-size: 30px;
  font-weight: 200;
  padding-left: 5px;
}

#input-album {
  outline: none;
}

#album-submission {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 22px;
  width: 80%;
  margin-top: -42px;
  left: 33px;
}

#album-upload-form {
  width: 100%;
}