#imageBox {
  overflow-x: hidden;
  padding: 30px;
  color: #313131;
  font-family: 'Muli';
  width: 100%;
}

.switch-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -40px;
}

.popup-title {
  color: #313131;
  font-size: 33px;
  font-family: 'Muli';
  font-weight: 600;
}

.popup-title-mod {
  color: #313131;
  font-size: 33px;
  font-family: 'Muli';
  font-weight: 600;
  margin-bottom: 37px;
}

button.image-buttons {
  background: transparent;
  border: none;
  color: #313131;
  font-family: 'Muli';
  font-size: 20px;
}

button.image-buttons:focus {
  outline: none;
}

.adding-button {
  background-color: transparent;
  border: none;
  color: #363636;
  font-family: 'Muli';
  text-align: left;
  padding: 1px;
  font-size: 40px;
  width: 140px;
  margin-top: -14px;
  transition: all 0.6s;
}

.adding-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.6s;
}

.adding-button span:after {
  content: 'New album';
  position: absolute;
  font-family: 'Muli';
  font-size: 16px;
  color: rgb(0, 0, 0);
  bottom: 0;
  opacity: 0;
  right: -100px;
  transition: 0.6s;
}

.adding-button:hover span {
  padding-right: 91px;
  color: rgb(0, 0, 0);
}

.adding-button:hover span:after {
  opacity: 1;
  right: 0;
}

.adding-button:hover {
  color: rgb(0, 0, 0);
}

.adding-button-mod {
  background-color: transparent;
  border: none;
  color: #363636;
  font-family: 'Muli';
  text-align: left;
  padding: 1px;
  font-size: 40px;
  width: 140px;
  margin-top: -18px;
  margin-bottom: -18px;
  transition: all 0.6s;
}

.adding-button-mod span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.6s;
  height: 43px;
}
.adding-button-mod span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.6s;
}

.adding-button-mod span:after {
  content: 'Add to album';
  position: absolute;
  font-family: 'Muli';
  font-size: 16px;
  color: rgb(0, 0, 0);
  bottom: 0;
  opacity: 0;
  right: -120px;
  transition: 0.6s;
}

.adding-button-mod:hover span {
  padding-right: 110px;
  color: rgb(0, 0, 0);
}

.adding-button-mod:hover span:after {
  opacity: 1;
  right: 0;
}

.adding-button-mod:hover {
  color: rgb(0, 0, 0);
}

#input-album {
  background: transparent;
  z-index: 1;
  border: none;
  border-bottom: 1px solid #313131;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 46px;
  width: 85%;
  color: #313131;
  font-family: 'Muli';
  font-size: 25px;
  font-weight: 200;
  padding-left: 5px;
}

#input-album {
  outline: none;
}

#album-submission {
  display: flex;
  margin-bottom: 12px;
  margin-left: 71%;
  justify-content: flex-end;
  margin-top: -48px;
}

#album-upload-form {
  width: 100%;
  font-size: 23px;
  font-weight: 200;
}

input.submit-button {
  background: none;
  color: #313131;
  border: none;
  font-size: 20px;
  font-family: 'Muli';
  font-weight: 900;
}

.submit-button:hover {
  color: rgb(121, 121, 121);
}

/* input#album-upload {
  z-index: 900;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;
}

div#input-display {
  border-radius: 20px;
  height: 431px;
  background: rgb(70, 70, 70);
  color: white;
} */

#album-upload {
  color: transparent;
  background: rgb(245, 245, 245);
  width: 100%;
  transition: 0.10s;
  height: 240px;
  border-radius: 42px;
  margin-top: 20px;
}
#album-upload::-webkit-file-upload-button {
  visibility: hidden;
}
#album-upload::before {
  content: 'Drag and drop photos/videos here or click';
  color: #313131;
  display: flex;
  justify-content: center;
  align-content: center;
  background: transparent;
  border: none;
  border-radius: 20px;
  padding-top: 110px;
  outline: none;
  font-family: 'Muli';
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 16px;
}

#album-upload:hover {
  background: rgb(204, 204, 204);
  cursor: pointer;
}

#album-upload:focus {
  outline: none;
}

#input-display img {
  width: 139px;
}

.subtitle {
  font-family: "Muli";
  font-weight: 300;
  padding-left: 11px;
  padding-top: 13px;
  font-size: 20px;
}