#imageBox {
  overflow-x: hidden;
  padding: 30px;
  color: white;
  width: 100%;
}

.switch-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -40px;
}

.popup-title {
  color: white;
  font-size: 30px;
  font-family: 'Raleway';
  font-weight: 700;
}

button.image-buttons {
  background: transparent;
  border: none;
  color: rgb(91, 224, 248);
  font-family: 'Raleway';
  font-size: 20px;
}

button.image-buttons:focus {
  outline: none;
}

.adding-button {
  background-color: transparent;
  border: none;
  color: rgb(91, 224, 248);
  text-align: left;
  padding: 1px;
  font-size: 40px;
  width: 140px;
  margin-top: -14px;
  transition: all 0.6s;
}

.adding-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.6s;
}

.adding-button span:after {
  content: 'New album';
  position: absolute;
  font-family: 'Raleway';
  font-size: 16px;
  bottom: 0;
  opacity: 0;
  right: -100px;
  transition: 0.6s;
}

.adding-button:hover span {
  padding-right: 91px;
}

.adding-button:hover span:after {
  opacity: 1;
  right: 0;
}

#input-album {
  background: transparent;
  z-index: 1;
  border: none;
  border-bottom: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 46px;
  width: 70%;
  color: whitesmoke;
  font-size: 30px;
  font-weight: 200;
  padding-left: 5px;
}

#input-album {
  outline: none;
}

#album-submission {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  width: 86%;
  margin-top: -42px;
  left: 33px;
}

#album-upload-form {
  width: 100%;
}

input.submit-button {
  background: none;
  color: white;
  border: none;
  font-family: 'Raleway';
  font-size: 21px;
  font-weight: 200;
  padding: 0;
  transition: 0.4s;
}

.submit-button:hover {
  color: rgb(91, 224, 248);
}

/* input#album-upload {
  z-index: 900;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;
}

div#input-display {
  border-radius: 20px;
  height: 431px;
  background: rgb(70, 70, 70);
  color: white;
} */

#album-upload {
  color: transparent;
  width: 100%;
}
#album-upload::-webkit-file-upload-button {
  visibility: hidden;
}
#album-upload::before {
  content: 'Drag and drop photos/videos here or click';
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #363636;
  border: none;
  border-radius: 20px;
  padding: 200px 8px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  height: 439px;
  width: 100%;
}