
.resize-box {
  z-index: 1000;
  display: flex;
  align-content: center;
  position: relative;
  width: 100%;
  min-height: 88px;
  height: 400px;
  max-height: 647px;
  background-color: rgb(253, 253, 253);
  padding-bottom: 8px;
  overflow-x: initial;
  margin-top: -726px;
}

.resize-box:after {
  content: "";
  background-color:#313131;
  font-size: 7px;
  position: absolute;
  height: 6px;
  bottom: 0;
  width: 80%;
  left: 10%;
  cursor: ns-resize;
  align-self: center;
}
/* width */
.resize-box ::-webkit-scrollbar {
  width: 4px;
}



