
.resize-box {
  z-index: 1000;
  display: flex;
  flex-flow: column;
  align-content: center;
  position: relative;
  width: 100%;
  min-height: 459px;
  height: 587px;
  max-height: 725px;
  background: rgb(253, 253, 253);  
  padding-bottom: 8px;
  overflow-x: initial;
  margin-top: -90vh;
}

.resize-box:after {
  content: "";
  background-color:#313131;
  font-size: 7px;
  position: absolute;
  height: 6px;
  bottom: 0;
  width: 80%;
  left: 10%;
  cursor: ns-resize;
  align-self: center;
}
/* width */
.resize-box ::-webkit-scrollbar {
  width: 4px;
}

#video {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
  width: 100%;
}

#video div {
  display: flex;
  justify-content: center;
}

#changeVideoForm {
  display: flex;
  justify-content: center;
}

#resize-box #video-resize-box {
  min-height: 598px;
}



