.albumCover {
  width: 25%;
  padding: 1px;
  max-height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coverPhoto {
  max-width: 100%;
  overflow: hidden;
  max-height: 80%;
  display: flex;
  justify-content: center;
  
}

#album-box {
  display: flex;
  flex-wrap: wrap;

}