
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 90%;
}

h1 {
  text-align: center;
  background: salmon;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: salmon;
}