#changeVideoForm input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  margin-bottom: 10px;
  width: 50%;
  margin-top: 18px;
  font-size: 19px;
  font-family: 'Muli';
  margin-right: 5px;
}

#changeVideoForm input[type="text"]:focus {
  outline: none;
}

#changeVideoForm input[type="submit"] {
  background: transparent;
  border: none;
  height: 39px;
  margin-top: 16px;
  font-size: 20px;
  font-family: 'Muli';
  font-weight: 700;
}

#changeVideoForm input[type="submit"]:focus {
  outline: none;
}

#changeVideoForm input[type="submit"]:hover {
  opacity: 60%;
}

